absl-py
attrs
blinker
cffi
click
contourpy
cycler
Flask
Flask-Cors
flatbuffers
fonttools
itsdangerous
jax
jaxlib
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
mediapipe
ml_dtypes
numpy
opencv-contrib-python
opencv-python
opt_einsum
packaging
pandas
pillow
playsound
plyer
protobuf
pycparser
pyparsing
python-dateutil
pytz
scikit-learn
scipy
sentencepiece
setuptools
six
sounddevice
threadpoolctl
tzdata
Werkzeug
wheel